/*================= GLOBAL SETTINGS=============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
  text-decoration: none;
  color: var(--bg-dark);
  font-size: 1.6rem;


}
main{
	min-height: 100%;
	
}
html {
	scroll-behavior: smooth;
  height: fit-content;
	background-color: var(--text-color-dark);
}
:root {
  font-size: 62.5%;
  --bg-light: #fffAf0;
  --bg-dark: #4f4134;
  --text-color-dark:#382e25;
  --primary-color:#af9174;
	--secondary-color:#cbab86;
	--tertiary-color:#CCA19B;

}

body {
  background-color:var(--bg-light)  ;
  font-size: 1.6rem;
font-family: museo;

  text-align: center;
	overflow: overlay;
  width: 100%;
	min-height: 100%;
}
button {
	background: none;
	border: none;
	cursor: pointer;
}
p{
font-family: museo;

}
img {
	max-width: 100%;
}
h1{
	font-size: 2.3rem;
	color: var(--secondary-color);
	font-family: rebeque;
}
h2{
font-size: 2rem;
color: var(--primary-color);
font-family: rebeque;
line-height: 3.5rem;
}
h3{
	font-size: 1.8rem;
	color: var(--primary-color);
	

}
section button{
	width: 58%;
	height: fit-content;
	text-align: start;
	padding-inline: 1rem;
	padding-block: 2rem;
	margin-block: 1rem;
	border-width: 1px;
	border-color: #cbab866f;
border-style: groove;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

section .infobox{
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	text-align: start;
	padding-inline: 1.5rem;
	gap: 2rem;
	margin-top: 2rem;
}
/*================== mobile first============ */
/* NAVIGATION */
.wrapper {
	width: min(51rem, 100%);
	margin-inline: auto;
	padding-inline: 2.4rem;
 
}
nav {
	display: flex;
	width: 100vw;
}

nav .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.logo{
	margin-top: 1rem;
}
.div-wpp-icon svg{
  max-width: 38px;
  height: 38px;   
} 
.div-wpp-icon svg path{
  fill: var(--primary-color);
}

nav button.open-menu svg path{
  stroke: var(--primary-color);
}
nav button.close-menu svg path{
  stroke: var(--bg-light);
}
nav .menu,
nav .close-menu {
	position: fixed;
}
/* MENU EXPANDED */
body.menu-expanded {
  overflow: overlay;
}
body.menu-expanded > :not(nav) {
	visibility: hidden;
}
.menu,
.close-menu,
body.menu-expanded .open-menu {
	opacity: 0;
	visibility: hidden;
}
body.menu-expanded .menu,
body.menu-expanded .close-menu {
	opacity: 1;
	visibility: visible;
}
body.menu-expanded .close-menu{
  right: 18px;
}
.menu {
	transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  gap: 3rem;

  overflow: scroll;
}
body.menu-expanded .menu {
	top: 0;
	left: 0;
	background: var(--bg-dark);
	width: 100vw;
	height: 100vh;
	transition: transform 300ms;
	transform: translateY(0);
}
.nav-menu-section.service-menu{
	margin-top: 5rem;
}
.service-menu  ul:nth-child(2) {
	display: flex;
	flex-direction: column;
  align-items: start;
  justify-content: center;
	gap: 1.8rem;
	font-size: 1.8rem;
 line-height: 1.8rem;

}
.menu ul li a {
	color: var(--bg-light);
  
  
}
.nav-menu-section{
   color: var(--primary-color);
text-align: start;
margin-left: 2.5rem;
}
.nav-menu-section h3{
  margin-bottom: 1rem;
	font-size: 2rem;
}

.nav-menu-section p{
  color: var(--bg-light);
}
.social-links {
	display: flex;
	align-items: center;
	
	gap: 3.2rem;
}
.nav-menu-section.follow{
  margin-bottom: 1.5rem;
}
/*=========== SERVICE SECTION========= */
#service {
margin-top: 3rem;

}
.service-title > * {
margin-bottom: 1.5rem;
}

.service-buttons{
	width: 100%;
}
#service button{
	width: 95%;
  margin-inline: auto;
}
/* ================ABOUT=================== */
#about{
	margin-top: 5rem;
}
.about-entry{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 2rem;
	padding-inline: 2rem;
}
.about-logo{
	width: 5rem;
}
.about-main-img{
	padding: 1.5rem;
}

/* =====================LOCAL==================== */
#local{
	margin-top: 8rem;
}
.local-main-img{
	padding: 1.5rem;
}
/* ===============FOTER====================== */
#footer{
	background-color: var(--bg-dark);
	padding-bottom: 3rem;
}
#footer p{
	color: var(--bg-light);
}
.pre-footer{
	background-image: url(./assets/footer-bg.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	height: 50rem;
	
}
.pre-footer .infobox{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
padding-block: 3rem;
}
/* .pre-footer h2{
	color: var(--bg-light);
} */
.pre-footer button{
	border-color: var(--bg-light);
	color: var(--bg-light) ;
	width: 80%;

}
.pre-footer button i{
	color: var(--bg-light);
}
.last-footer{
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5rem;
padding-block: 3rem;

}
.last-footer p{
	color: var(--bg-light);
}
.last-footer h3{
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1rem;
}
.footer-logo h2{
	font-size: 5rem;
	line-height: 8rem;
}
/* =================tablet ==================*/
@media (min-width:768px) {
  



}
/* =================Desktop ==================*/
@media(mijn-width:1200px){




}
